.card(ng-repeat='user in matchUsers')
  .top
    .portrait
      img(ng-src='user.avatar')
    .info
      p.name {{ user.name }}
      p ID: XXXXXXXX
  .bottom
    hr
    p.tag2 Tag #2: XXXXXXXX
    hr
    p.tag1 Tag #1: XXXXXXXX