.row
  .small-4.small-offset-4
    .vz-panel
      .row
        .small-6.columns
          label(for='human-tag-label', style='text-align: center; font-size: 20px; color: white; line-height: 40px; padding: 0px 10px') Human ID
        .small-6.columns
          input#human-tag-label(type="text")
      .row
        .small-6.columns
          label(for='zombie-tag-label', style='text-align: center; font-size: 20px; color: white; line-height: 40px; padding: 0px 10px') Zombie ID
        .small-6.columns
          input#zombie-tag-label(type="text")
      a.button.expand(style='line-height: 10px') Submit