.container
  .row
    form(style='margin-bottom: 10px')
      input.form-control(type='text', ng-model='form.searchBox')
    table.table(ts-wrapper)
      thead
        tr
          th(ts-criteria='name') Name
          th(ts-criteria='user') Recipient
      tbody
        tr(ng-repeat='badge in filteredData', ts-repeat)
          td(style='word-wrap: break-word') {{ badge.name }}
          td(style='word-wrap: break-word') {{ badge.user }}