.container
  .row
    .col-md-12
      h1 Game Rules
      .rules
        section#section1
          h3 1. All Players
          ul
            li Players will remove their bandanna while they are inside for academic reasons.
            li Players will keep their blasters lowered and as out-of-sight as possible while they are inside any academic building at any time.
            li Players will not blast their foam blaster while inside any building.
            li Players will not use any form of melee weapon at any time.
            li Players will sign a waiver before participating in the game.
            li Players will carry their HvZ Identification card with them at all times that they are in play.
            li Players shall not participate in the game in any way while they are inside of any building.
            li Players will wear their HvZ Identification bandanna at all times except when,
              ul
                li the player is in a non-play zone (such as a building or vehicle);
                li the player is wearing business attire while on their way to or from presentation, job interview, or formal event;
                li the player is participating in an activity related to school or work (such as a photo-shoot for class or working with FMS);
                li the player is participating in, or traveling to, a sporting event in which the player is a member of the team,
                li the player is in uniform for another RIT activity that they are participating in at that moment (such as ROTC or RITA)
            li Players will dress in a manor which is suitable for a publicly visible college club activity. Furthermore, players will not wear any form of clothing which may cause another student, faculty member, or any other non player to be given the impression that anything other than a game of tag is occurring. This includes facemasks.
            li Players are not to receive any form of game-play assistance from non-players under any circumstance at any time.
            li Players are not to use any form of a shield. This includes being shielded by non-players.
            li Players are not to chase, yell at, or interfere with non-players.
            li Players will not enter Building 1 after hours.
            li Players will not remove themselves from play for the sole reason that they have electronics or expensive equipment.
            li Players will not attempt to exploit or hack the website in any way.
            li Players will not use any form of transport device while they are in play. i. e. Cars/Longboards/Bikes/Segways.
            li Players will not use any form of a laser pointer at any time while they are participating in the game.
            li Players will show respect to players, non-players, moderators, and administrators.
        section#section2
          h3 2. Rules for Human Players
          ul
            li Upon being tagged by a zombies, as defined in section 5 of this document, a human player will surrender the detachable portion of their HvZ Identification card which contains their valid tag information to the tagging zombie player.
            li Human players will aim and/or blast their blasters only at other players.
            li Human players will not aim and/or blast their blasters at the head of any player intentionally.
            li Human players will not use zombies or non-players as a form of a human shield.
            li Human players will use only commercially available foam blasters or clan socks to stun zombie players.
            li Human players will not be in possession of a foam blaster which has modified internal components that have not be checked by the President or his delegate.
            li Human players will not be in possession of a foam blaster which has had it's external components modified unless the modifications have been approved by an official member of the administration of the RIT Humans vs. Zombies club. This includes modifying the color of the gun.
            li Human players will not be in possession of foam darts which have been modified in any way with the exception of modifying the color of the dart.
            li Human players will not blast any item from a foam blaster other than a foam projectile.
            li Human players will wear their HvZ Identification bandanna on their upper arm at all times while in play. The bandanna will be unobstructed from view. The bandanna will be at least two (2) inch tall on the arm.
            li Human players will not intentionally follow stunned zombies.
            li Upon being tagged by a zombies, a human player will not participate in the game in any way until they have received an official email notifying them of their change in player status or their status on the website indicates that they are a zombie player.
            li Upon being tagged, a human player will promptly remove their bandanna.
            li Human players will not remove their bandannas while outside solely due to the fact that they are carrying a laptop computing device.
            li A human player who finds an anti-virus code may keep in their possession for any period of time, including if they become a zombie player.
            li Human players will not communicate with treasonous zombie players to gain information regarding zombie locations, objectives, or strategies.
            li Human players will not divulge information regarding to human locations, objectives, or strategies to zombies players.
            li Upon exiting an automobile, a human gets a limited fifteen (15) foot sage zone. This safe zone becomes null and void upon the human exiting the 15 foot radius. There is no safe zone while approaching an automobile. While inside an automobile, participants are not in play.
            li When a human is within 15 feet of a public access door (as defined in Section 5), the human player is in a safe zone, (also defined in section 5).
            li Human players who are standing in the boarding line to get on a bus are in a safe zone. This safe zone does not exist when they are standing at the bus stop waiting for the bus to arrive. There is no safe zone upon exiting a bus. The safe zone becomes void the moment that a human player leaves the line.
            li Human players will not throw their blasters.
            li Human players will be considered inside and out of play if they have any body part inside of any building. This means that a human player with any body part in a building cannot be tagged by a zombie and the human player cannot use their blasters or socks to stun zombies.
            li Human players may use blasters that fire multiple darts simultaneously.
        section#section3
          h3 3. Rules for Zombie Players
          ul
            li Zombie players will wear their bandanna upon their head at all times that they are in play. The bandanna will be unobstructed from view from any direction.
            li A zombie player, who is outside and who puts on his or her bandanna must wait for a 30 second period of time before they are able to tag human players. During this 30 second period of time, the zombie player will be vulnerable to being stunned by human players.
            li A zombie player who tags a human will ask the human to surrender the removable portion of their HvZ Identification Card which contains the tagging information. The zombie player will promptly use the website to record a tag. The zombie player will surrender their player identification number if prompted by the human player that they tagged.
            li Unless defined as allowed in the mission information, a zombie player will not move, disguise, or obstruct any human objective.
            li Upon being struck by a clean sock thrown by a human player or a foam dart shot from a valid blaster, the struck zombie player will remove their bandanna from their head for a period no shorter than seven (7) minutes.
            li If a zombie voluntarily takes off his bandanna outside, it is a self-stun and is stunned for the full stun timer.
            li Zombie players shall like mudkips.
            li A zombie player which enters the code from an anti-virus card will be switched back a human player unless,
              ul
                li The player has previously used an anti-virus code;
                li The game has progressed past 1:00 AM on the Friday of game play.
            li A zombie player will not follow a human player inside of a building.
            li A zombie player who has been stunned will not follow human players.
            li A zombie player who has been stunned will not report any game relevant information to any players or non-players. This includes yelling, "Human."
            li Zombie players will not communicate with treasonous human players to gain information regarding human locations, objectives, or strategies.
            li Zombie players will not divulge information regarding zombie locations, objectives, or strategies to human players.
            li Zombie players will not attempt to tag humans inside of safe zones.
            li Starved zombies are not eligible to use an anti-virus to return to human status.
            li Zombie players will not interact with any foam darts or socks except for the explicit purpose of returning the darts intact to the human players.
        section#section4
          h3 4. Rules Regarding Missions
          ul
            li Missions will be posted at 9:00 PM each day of game play except on Friday.
            li The mission on Friday will be posed at 6:00 PM.
            li Mission are not mandatory.
            li No player shall give mission information to the opposing team at the start of a mission.
            li No player shall use any form of vehicle to affect the progress of a mission.
        section#section5
          h3 5. Miscellaneous Rules
          ul
            li Well, what did you expect to be here?
        section#section6
          h3 6. General Information
          ul
            li HvZ Identification Bandanna:
              ul
                li An HvZ Identification Bandanna is a bandanna handed out by the administration of Humans Vs. Zombies at RIT during or before registration sessions.
                li To receive a bandanna, players must submit a security desposit of $5 as required by Student Government.
            li Public Access Door:
              ul
                li A public acces door is any door on a campus building which is:
                  ul
                    li Unlocked;
                    li Can be opened by an individual who does not attend or work at RIT;
                    li And has a vestibule that doesn't open into a lobby.
            li Tag:
              ul
                li A tag is a distinct touch by a zombie player on a human player.
                li Tags must be made outside of buildings, automobiles, or safe zones.
                li Tags do not count if the zombie player only makes contact with the blaster of the human player.
                li Tags do not count if either player is inactive, disqualified, or banned.
            li Safe Zone:
              ul
                li A safe zone is an area in which both zombie and human players may exist.
                li Human players are able to stun zombie players if the zombie players is inside or outside of the safe zone.
                li Zombie players may not tag a human player within the confines of the safe zone.
                li Human players are able to shoot out from the safe zone.